.row {
    margin-top: 20px;
}
#password {
    width: 100%;
    border: 2px gray;
    border-style: dashed solid;
    text-align: center;
}
#generate {
    background-color: red !important;
    border-color: red !important;
    border-radius: 20px;
}
#copy {
    border-radius: 20px;
}

